@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 240 7% 3%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--radius: 0rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	.nav-clip {
		clip-path: polygon(89% 16%, 100% 0, 100% 51%, 100% 81%, 100% 100%, 0 100%, 0 76%, 0 18%, 78% 18%);
	}

	.bullet-active-swiper {
		@apply !w-10 !rounded-md !bg-[#7F56D9] !opacity-100 !transition-all !border-white [border-width:0.5px];
	}

	:root {
		--swiper-pagination-bullet-border-radius: 1rem !important;
		--swiper-pagination-bullet-inactive-color: #ffffff !important;
		--swiper-pagination-bullet-inactive-opacity: 0.8 !important;
		--swiper-pagination-bullet-size: 10px;
		--swiper-pagination-bullet-width: 10px;
	}

	.CollapsibleContent {
		overflow: hidden;
	}

	.CollapsibleContent[data-state="open"] {
		animation: slideDown 300ms ease-out;
	}
	.CollapsibleContent[data-state="closed"] {
		animation: slideUp 300ms ease-out;
	}

	@keyframes slideDown {
		from {
			height: 0;
		}
		to {
			height: var(--radix-collapsible-content-height);
		}
	}

	@keyframes slideUp {
		from {
			height: var(--radix-collapsible-content-height);
		}
		to {
			height: 0;
		}
	}
}
